.header{
    background-color: #ffffff;
    padding: .4rem;
    /* 超过就不显示 */
    overflow: hidden;
    height: 3.2rem;
    border-bottom: 1px solid #cccccc;
}

.header-logo{
    color: #1e90ff;
    font-size: 1.4rem;
    text-align: left;
}

.header-txt{
    font-size: .6rem;
    color: #999;
    display: inline-block;
    padding-left: .5rem;
}

.ant-menu{
    line-height:2.8rem;
}

.ant-menu-item{
    font-size: .7rem !important;
    padding-left: 1rem !important;
    padding-right: 1rem !important;

}